openapi: 3.0.1
info:
  title: YouNeed Mobile API v2
  description: TODO
  contact:
    email: se@ambrogio.com
  version: 1.0.0
servers:
- url: https://alpha.web.youneed.it/mobile/api/v2

tags:
- name: Authentication
  description: Authentication
- name: User
  description: User

paths:
  /auth/login:
    post:
      tags:
      - Authentication
      summary: Login
      description: TODO
      requestBody:
        description: Credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
        required: true
      responses:
        200:
          description: Tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
      x-codegen-request-body-name: body
      
components:
  schemas:
    Credentials:
      type: object
      properties:
        username:
          type: string
          description: Username.
        password:
          type: string
          description: Password.
        application_id:
          type: string
          description: App unique id.
        os:
          type: string
          description: ANDROID or IOS.
      required:
        - username
        - password  
        - application_id
        - os
    Tokens:
      type: object
      properties:
        access_token:
          type: string
          description: JWT.
        refresh_token:
          type: string
          description: Refresh token.