{
  "swagger": "2.0",
  "info": {
    "title": "Timecards",
    "description": "<p>Description TODO</p>"
  },
  "host": "alpha.youneed.it/mobile",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/timecard/entries": {
      "post": {
        "description": "<p>Add a timecard</p>",
        "parameters": [
          {
            "in": "headers",
            "name": "Authorization",
            "type": "string",
            "description": "The access token in the format: <b>Bearer [token]</b>",
            "required": true
          },
          {
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "is_in",
                "is_break",
                "canteen_service_requested",
                "is_on_call"
              ],
              "description": "manually_inserted and realtime_inserted are mutually exclusive",
              "properties": {
                "notes": {
                  "description": "Notes",
                  "type": "string",
                  "example": "This is a note"
                },
                "is_in": {
                  "description": "The timecard represents an entrance",
                  "type": "boolean",
                  "example": true
                },
                "is_break": {
                  "description": "The timecard is relative to a breack",
                  "type": "boolean",
                  "example": false
                },
                "canteen_service_requested": {
                  "description": "The canteen service is requested",
                  "type": "boolean",
                  "example": false
                },
                "is_on_call": {
                  "description": "Whether or not the employee is on an \"on call\" shift",
                  "type": "boolean",
                  "example": false
                },
                "manually_inserted": {
                  "type": "object",
                  "propeties": {
                    "date": {
                      "description": "The timecard unix timestamp (milliseconds)",
                      "type": "number",
                      "example": 1655460944344
                    }
                  }
                },
                "realtime_inserted": {
                  "type": "object",
                  "properties": {
                    "geolocation": {
                      "type": "object",
                      "properties": {
                        "latitude": {
                          "type": "mumber",
                          "example": 43.88425,
                          "minimum": -90,
                          "maximum": 90
                        },
                        "longitude": {
                          "type": "mumber",
                          "example": 11.09092,
                          "minimum": -180,
                          "maximum": 180
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "description": "Inserted timecard Id",
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: user exists but is blocked"
          },
          "401": {
            "description": "Unauthorized: user doesn't exists or is not authenticated"
          },
          "400": {
            "description": "Bad Request: one of required params is not provided or not valid."
          }
        }
      }
    },
    "/timecard/entries/{id}": {
      "get": {
        "description": "<p>Get timecard details</p>",
        "parameters": [
          {
            "in": "headers",
            "name": "Authorization",
            "type": "string",
            "description": "The access token in the format: <b>Bearer [token]</b>",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the timecard",
            "required": true,
            "type": "integer",
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "id",
                "is_in",
                "is_break",
                "is_validated",
                "is_confirmed",
                "canteen_service_requested",
                "is_on_call",
                "date"
              ],
              "properties": {
                "id": {
                  "description": "Timecard Id",
                  "type": "integer",
                  "example": 123
                },
                "notes": {
                  "description": "Notes",
                  "type": "string",
                  "example": "This is a note"
                },
                "is_in": {
                  "description": "The timecard represents an entrance",
                  "type": "boolean",
                  "example": true
                },
                "is_break": {
                  "description": "The timecard is relative to a breack",
                  "type": "boolean",
                  "example": false
                },
                "is_validated": {
                  "description": "The timecard is validated",
                  "type": "boolean",
                  "example": true
                },
                "is_confirmed": {
                  "description": "The timecard is confirmed",
                  "type": "boolean",
                  "example": true
                },
                "canteen_service_requested": {
                  "description": "The canteen service is requested",
                  "type": "boolean",
                  "example": false
                },
                "is_on_call": {
                  "description": "Whether or not the employee is on an \"on call\" shift",
                  "type": "boolean",
                  "example": false
                },
                "date": {
                  "description": "The timecard unix timestamp (milliseconds)",
                  "type": "number",
                  "example": 1655460944344
                },
                "geolocation": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "mumber",
                      "example": 43.88425,
                      "minimum": -90,
                      "maximum": 90
                    },
                    "longitude": {
                      "type": "mumber",
                      "example": 11.09092,
                      "minimum": -180,
                      "maximum": 180
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: user exists but is blocked, or user is not authorized to see the timecard"
          },
          "401": {
            "description": "Unauthorized: user doesn't exists or is not authenticated"
          },
          "404": {
            "description": "The timecard does not exists"
          }
        }
      },
      "patch": {
        "description": "<p>Update a timecard</p>",
        "parameters": [
          {
            "in": "headers",
            "name": "Authorization",
            "type": "string",
            "description": "The access token in the format: <b>Bearer [token]</b>",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the timecard",
            "required": true,
            "type": "integer",
            "example": 123
          },
          {
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "date",
                "is_in",
                "is_break",
                "canteen_service_requested",
                "is_on_call"
              ],
              "description": "manually_inserted and realtime_inserted are mutually exclusive",
              "properties": {
                "notes": {
                  "description": "Notes",
                  "type": "string",
                  "example": "This is a note"
                },
                "date": {
                  "description": "Timecsart timestamp",
                  "type": "number",
                  "example": "This is a note"
                },
                "is_in": {
                  "description": "The timecard represents an entrance",
                  "type": "boolean",
                  "example": true
                },
                "is_break": {
                  "description": "The timecard is relative to a breack",
                  "type": "boolean",
                  "example": false
                },
                "canteen_service_requested": {
                  "description": "The canteen service is requested",
                  "type": "boolean",
                  "example": false
                },
                "is_on_call": {
                  "description": "Whether or not the employee is on an \"on call\" shift",
                  "type": "boolean",
                  "example": false
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden: user exists but is blocked"
          },
          "401": {
            "description": "Unauthorized: user doesn't exists or is not authenticated"
          },
          "404": {
            "description": "The timecard does not exists or is not owneed by user"
          },
          "400": {
            "description": "Bad Request: one of required params is not provided or not valid."
          }
        }
      }
    },
    "/timecard/entries/last": {
      "get": {
        "description": "<p>Get last timecard</p>",
        "parameters": [
          {
            "in": "headers",
            "name": "Authorization",
            "type": "string",
            "description": "The access token in the format: <b>Bearer [token]</b>",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "id",
                "is_in",
                "is_break",
                "is_validated",
                "is_confirmed",
                "canteen_service_requested",
                "is_on_call",
                "date"
              ],
              "properties": {
                "id": {
                  "description": "Timecard Id",
                  "type": "integer",
                  "example": 123
                },
                "notes": {
                  "description": "Notes",
                  "type": "string",
                  "example": "This is a note"
                },
                "is_in": {
                  "description": "The timecard represents an entrance",
                  "type": "boolean",
                  "example": true
                },
                "is_break": {
                  "description": "The timecard is relative to a breack",
                  "type": "boolean",
                  "example": false
                },
                "is_validated": {
                  "description": "The timecard is validated",
                  "type": "boolean",
                  "example": true
                },
                "is_confirmed": {
                  "description": "The timecard is confirmed",
                  "type": "boolean",
                  "example": true
                },
                "canteen_service_requested": {
                  "description": "The canteen service is requested",
                  "type": "boolean",
                  "example": false
                },
                "is_on_call": {
                  "description": "Whether or not the employee is on an \"on call\" shift",
                  "type": "boolean",
                  "example": false
                },
                "date": {
                  "description": "The timecard unix timestamp (milliseconds)",
                  "type": "number",
                  "example": 1655460944344
                },
                "geolocation": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "mumber",
                      "example": 43.88425,
                      "minimum": -90,
                      "maximum": 90
                    },
                    "longitude": {
                      "type": "mumber",
                      "example": 11.09092,
                      "minimum": -180,
                      "maximum": 180
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: user exists but is blocked"
          },
          "401": {
            "description": "Unauthorized: user doesn't exists or is not authenticated"
          },
          "404": {
            "description": "The user has not timecards"
          }
        }
      }
    }
  }
}